@import url(reset.css);

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cvn {
    padding: 10px;
}

p {
    padding: 10px;
    text-justify: inter-word;
}